<%- include('partials/header') -%>
<div class="">
  <div class="">
      <div class="">
      <div class="max-w-screen-lg mx-auto bg-main">
          <div class="p-6  mx-auto bg-main flex-col	 space-x-4">
          <div class ="flex flex-col p-6  justify-start">
          <h2 class="text-5xl font-corm text-center border-b-2 border-black ">Project Feedback!</h2>
          <div class="p-6 mx-auto flex-col space-x-4	">
          <h4 class ="text-center m-auto w-9/12 font-raleway	" >Hi Everyone! </h4>


         
      
            <form  action="/gratitude/createGratitude" method="POST">
                 <div class="flex flex-col  w-10/12 mx-auto	">
                 <label  for="gratitudeItem1" class="form-label text-center text-4xl font-corm my-6 m-auto border-b-2 border-black ">Log Gratitude</label>
                 <textarea type="text" class="form-control font-raleway  mt-2.5	h-32 bg-fontLight border-2 border-black" id="item" name="item"> </textarea>

                 <label for="gratitudeItem2" class="form-label"></label>
                 <textarea type="text" class="form-control  mt-2.5	h-32 bg-fontLight border-2 border-black" id="item" name="item"> </textarea>

                 <label for="gratitudeItem3" class="form-label"></label>
                 <textarea type="text" class="form-control  mt-2.5	h-32 bg-fontLight border-2 border-black" id="item" name="item"> </textarea>
                  
                 <label for="gratitudeItem4" class="form-label"></label>
                 <textarea type="text" class="form-control  mt-2.5	h-32 bg-fontLight border-2 border-black"" id="item" name="item"></textarea>
                 
                 <label for="gratitudeItem5" class="form-label"></label>
                 <textarea type="text" class="form-control  mt-2.5	h-32 bg-fontLight border-2 border-black"" id="item" name="item"></textarea>
              
     
            <button type="submit" class="border-2	border-black py-2 px-8 rounded-md my-4"value="Upload" >Submit</button>
            </form>
     </div>

<%- include('partials/footer') -%>
