<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    

    <title>Lucent</title>

    <link rel="stylesheet" src="styles.css" />
  </head>
  <body class="bg-main bg-no-repeat bg-hero ">
      <!-- <img class="object-fill w-full  	" src="https://i.ibb.co/TMX3vGQ/Untitled-8-5-3-in-20-3-in-1.png" alt="Untitled-8-5-3-in-20-3-in-1" border="0"> -->
    <div class="text-center flex h-screen  ">
        
        <div class="m-auto border-2 border-black p-12 ">
        <!-- <img class="max-h-48 m-auto	" src="https://i.ibb.co/kH3Z6bG/Untitled-Artwork-138.jpg"> -->
  
        <h1 class="font-corm font-light text-9xl	text-fontLight py-0 pb-0 text-center pt-0 text-primary mb-0	drop-shadow-2xl border-b-2 border-black	"><a href="/profile">LUCENT</a></h1> <div class= "flex justify-center  ">
        <a href="/login" class="font-raleway text-xl border-black  border-b-2 border-l-2 pl-4 pr-4 hover:bg-yellow-100">Login </a>
        <a href="/signup" class="font-raleway text-xl border-black border-r-2 border-b-2 border-l-2 pl-4 pr-4  hover:bg-yellow-100">Sign Up</a>
         </div> 
        </div>
        </div>
    </div>
  </body>
</html>



    

<%- include('partials/footer') -%>