<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    

    <title>Lucent</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body class="bg-main bg-no-repeat bg-hero ">
      <!-- <img class="object-fill w-full  	" src="https://i.ibb.co/TMX3vGQ/Untitled-8-5-3-in-20-3-in-1.png" alt="Untitled-8-5-3-in-20-3-in-1" border="0"> -->
    <div class="text-center flex h-screen  ">
        
        <div class="m-auto 	 ">
        <!-- <img class="max-h-48 m-auto	" src="https://i.ibb.co/kH3Z6bG/Untitled-Artwork-138.jpg"> -->
  
        <h1 class="font-Playfair-Display text-6xl	text-fontLight py-4 m-auto pt-0 text-primary	"><a href="/profile">LUCENT</a></h1>
         <div class= "flex justify-center flex space-x-4 ">
        <a href="/login" class="col-3 btn btn-primary text-secondary">Login</a>
        <a href="/signup" class="col-3 btn btn-primary">Signup</a>
         </div> 
        </div>
        </div>
    </div>
  </body>
</html>



    

<%- include('partials/footer') -%>