<%- include('partials/header') -%>

<main class="#">
  <div class="#">
    <section class="#">
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="#"><%= el.msg %></div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
      <div class="#"><%= el.msg %></div>
      <% }) %> <% } %>
      <form action="/login" method="POST">
        <div class="#">
          <label for="exampleInputEmail1" class="#"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="password"
          />
        </div>
        
        <button class="inline-block cursor-pointer rounded-md bg-gray-800 px-4 py-3 text-center text-sm font-semibold uppercase text-white transition duration-200 ease-in-out hover:bg-gray-900" type="submit" class="btn btn-primary">Submit</button>
      </form>
    </section>
  </div>
</main>

<%- include('partials/footer') -%>
