<%- include('partials/header') -%>

<main class="container mx-auto">
  <div class="#">
       <section class="p-6 mx-auto bg-main flex-col	 space-x-4 w-6/12	mt-12 border-2 border-black		">
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="font-raleway text-xl "><%= el.msg %></div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
      <div class="font-raleway text-xl "><%= el.msg %></div>
      <% }) %> <% } %>
      <form action="/login" method="POST">
        <div class="flex flex-col mb-4">
          <label for="exampleInputEmail1" class="font-raleway text-xl "
            >Email address</label
          >
          <input
            type="email"
            class="form-control bg-white "
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
          />
        </div>
        <div class="flex flex-col mb-4">
          <label for="exampleInputPassword1" class="font-raleway text-xl ">Password</label>
          <input
            type="password"
            class="form-control bg-white 	"
            id="exampleInputPassword1"
            name="password"
          />
        </div>
        <div class="flex justify-center">
        <button class="border-2	border-black py-2 px-8 hover:bg-yellow-100 " type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </section>
  </div>
</main>

<%- include('partials/footer') -%>

