<%- include('partials/header') -%>

<main class="container mx-auto">
  <div class="#">
       <section class="p-6 mx-auto bg-white rounded-xl  flex-col	flex h-screen space-x-4 w-6/12	mt-12		">
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="#"><%= el.msg %></div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
      <div class="#"><%= el.msg %></div>
      <% }) %> <% } %>
      <form action="/login" method="POST">
        <div class="flex flex-col mb-4">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control bg-gray-300 rounded-lg	"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
          />
        </div>
        <div class="flex flex-col mb-4">
          <label for="exampleInputPassword1" class="#">Password</label>
          <input
            type="password"
            class="form-control bg-gray-300 rounded-lg	"
            id="exampleInputPassword1"
            name="password"
          />
        </div>
        
        <button class="inline-block cursor-pointer rounded-md bg-gray-800 px-4 py-3 text-center text-sm font-semibold uppercase text-white transition duration-200 ease-in-out hover:bg-gray-900" type="submit" class="btn btn-primary">Submit</button>
      </form>
    </section>
  </div>
</main>

<%- include('partials/footer') -%>
