
        <%- include ('partials/header') %>

<!-- <h1><% moodLog[1]-%> <h1> -->
<!-- ${gratitudeLog[i].date.getMonth()}/
                        ${gratitudeLog[i].date.getDate()} / 
                        ${gratitudeLog[i].date.getFullYear()}`
 -->


<div class="title text-center"> <h4> <%= moodLog[0].date.getMonth()%> </h4> </div>
<% let date = moodLog[0].date.getDate() %>
<div class="title text-center"> <h4> <%= date %> </h4> </div>


<table>
  <caption>December 2022</caption>
  <tr>
    <td class="p-4 text-center" >Sun</td>
    <td class="p-4 text-center" >Mon</td>
    <td class="p-4 text-center" >Tues</td>
    <td class="p-4 text-center" >Wed</td>
    <td class="p-4 text-center" >Thur</td>
    <td class="p-4 text-center" >Fri</td>
    <td class="p-4 text-center" >Sat</td>
  </tr>
  <tr>
    <td class="p-4 text-center" ></td>
    <td class="p-4 text-center" ></td>
    <td class="p-4 text-center" ></td>
    <td class="p-4 text-center" ></td>
    <td class="p-4 text-center" >1</td>
    <td class="p-4 text-center" >2</td>
    <td class="p-4 text-center" >3</td>
  </tr>
  <tr>
    <td class="p-4 text-center" >4</td>
    <td class="p-4 text-center" >5</td>
    <td class="p-4 text-center" >6</td>
    <td class="p-4 text-center" >7</td>
    <td class="p-4 text-center" >8</td>
    <td class="p-4 text-center" >9</td>
    <td class="p-4 text-center" >10</td>
  </tr>
  <tr>
    <td class="p-4 text-center">11</td>
    <td class="p-4 text-center">12</td>
    <td class="p-4 text-center">13</td>
    <td class="p-4 text-center">14</td>
    <td class="p-4 text-center">15</td>
    <td class="p-4 text-center">16</td>
    <td class="p-4 text-center">17</td>
  </tr>
  <tr>
    <td class="p-4 text-center">18</td>
    <td class="p-4 text-center">19</td>
    <td class="p-4 text-center">20</td>
    <td class="p-4 text-center">21</td>
    <td class="p-4 text-center">22</td>
    <td class="p-4 text-center">23</td>
    <td class="p-4 text-center">24</td>
  </tr>
  <tr>
    <td class="p-4 text-center">25</td>
    <td class="p-4 text-center">26</td>
    <td class="p-4 text-center">27</td>
    <td class="p-4 text-center">28</td>
    <td class="p-4 text-center">29</td>
    <td class="p-4 text-center">30</td>
    <td class="p-4 text-center">31</td>
  </tr>
</table>


</html>
