<%- include('partials/header') -%>
    <main class="container mx-auto">
        <div class="#">
            <section class="p-6 mx-auto bg-main  flex-col	flex h-screen space-x-4 w-9/12	mt-12		">
                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert alert-info"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <div class ="flex justify-center mx-auto bg-main flex-col	 space-x-4 w-8/12	mt-12 border-2 border-black	p-12">
                <form action="/signup" method="POST">
                    <div class="flex flex-col mb-4">
                        <label for="userName" class="font-raleway text-xl ">User Name</label>
                        <input type="text" class="form-control  bg-white 	" id="userName" name="userName">
                      </div>
                    <div class="flex flex-col mb-4">
                      <label for="exampleInputEmail1" class="font-raleway text-xl ">Email address</label>
                      <input type="email" class="form-control  bg-white " id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                      <div id="emailHelp" class="form-text italic">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="flex flex-col mb-4">
                      <label for="password" class="font-raleway text-xl ">Password</label>
                      <input type="password" class="form-control bg-white 	" id="password" name="password">
                    </div>
                    <div class="flex flex-col mb-4">
                        <label for="confirmPassword" class="font-raleway text-xl ">Confirm Password</label>
                        <input type="password" class="form-control bg-white " id="confirmPassword" name="confirmPassword">
                      </div>
                    <button type="submit" class="border-2	border-black py-2 px-8 hover:bg-yellow-100 ">Submit</button>
                  </div> 
                  </form>
            </section>
        </div>
    </main>

