<%- include('partials/header') -%>


<div class="p-6 w-11/12	 mx-auto bg-main rounded-xl shadow-lg flex-col	 space-x-4">

  <div class="flex flex-col	 p-6 flex justify-start">
       <h4 class="text-4xl font-serif text-center ">Create Your Vision Board</h4>
       <div class="p-6 w-9/12 mx-auto flex-col space-x-4	">
            <h5 class="text-center">A vision board is a visual representation of your goals. Everytime you login you will see a spread of images representing what you are working towards. A simple reminder can help motivate and encourage; helping you get there faster. </h5>
      </div>
</div>

<!-- Form! -->

            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <!-- <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Caption</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div> -->
              <div class="text-center	">
                <label for="imgUpload" class="#"></label>
                <input type="file" class="form-control bg-gray-300 rounded-lg	mt-2.5" id="imageUpload" name="file">
            
              <button type="submit" class="border-2	border-black py-1 px-8 rounded-md "value="Upload"  >Submit</button>
            </form>
            </div>
<!-- Form End -->

<!-- Vision Board Display -->

      <div class="#">
        <ul class="flex flex-wrap justify-center ">
        <% for(let i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="post/addDescription/<%=posts[i]._id%>">
              <img class="h-80 w-full object-cover p-1 rounded-2xl	" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>

        </ul>
      </div>  


<!-- Vision Board End -->


    </div>
    </div>
  </div>
</div>
</div>
</div>
</div>

<%- include('partials/footer') -%>