<%- include('partials/header') -%>
<div class="flex-wrap">


  <div class="flex flex-col p-6  justify-start ">
       <div class="p-6 w-9/12 mx-auto flex-col space-x-4 max-w-screen-md	">
          <h2 class="text-4xl font-corm font-light  text-center border-b-2 border-black ">Reframing Rejection</h2>
            <h5 class="text-center form-label text-1xl pt-4 font-raleway font-semibold"">Rejection is never easy- but sometimes it gets us to where we are now or where we want to be. In this excercise you are encouraged to think of a time in your past where you felt rejection or failure but ultiamtely it became something good. Realizing that rejection has the possibility to turn into a positive will encourage us to deal with rejection we are facing currently with more ease. .</h5>
      </div>
</div>


<!-- Main Page Content -->

<div class=" max-w-screen-md mx-auto ">

<!-- Form -->
<div class="mx-auto pb-10">
            <form  action="/workshop/createRedirection" method="POST">
                 <div class="flex flex-col  w-10/12 mx-auto ">

                 <label for="redirection" class="form-label font-raleway">Describe a time you experienced a failure or a rejection. How did it make you feel? </label>
                
                 <textarea type="text" class="form-control bg-fontLight mt-2.5 h-36 mb-6 border-2 border-black"   id="redirection" name="redirection" maxlength="400" required"></textarea>

                 <label for="whatYouLearned" class="form-label font-raleway">
                What did you learn from this experience?</label>

                 <textarea type="text" class="form-control bg-fontLight mt-2.5 h-36 mb-6 border-2 border-black" id="whatYouLearned" name="whatYouLearned" maxlength="400" required"></textarea>

                 <label for="reDirection" class="form-label font-raleway">How did this experience transform from a bad to a good? </label>
                <textarea type="text" class="form-control bg-fontLight mt-2.5 h-36 mb-6 border-2 border-black "  id="reDirection" name="reDirection" maxlength="400" required"></textarea>
                        

                <button type="submit" href= "loc"class="border-2	border-black py-1 px-8 rounded-md font-corm font-light text-xl " value="Upload" >Submit Excercise</button>
               </form>        
                </div>
</div>
<!-- End Form -->


<!-- Image -->

<div class="w-96">

</div>

<!-- image stop -->

</div>



<!-- Previous  Manifestation -->



<%- include('partials/footer') -%>

 