<%- include('partials/header') -%>
<div class="flex-wrap">


  <div class="flex flex-col p-6  justify-start ">
       <div class="p-6 w-9/12 mx-auto flex-col space-x-4 max-w-screen-md	">
          <h2 class="text-4xl font-corm font-light  text-center border-b-2 border-black ">Write A Letter To The Universe</h2>

            <h5 class="text-center">Sometimes when we put what we want out into the air we are more likely to see ways to get there in our day to day life. Write a letter to the universe asking it for what you want. You never know, it might deliver. </h5>
      </div>
</div>


<!-- Main Page Content -->

<!-- Form -->
<div class="w-11/12 mx-auto ">
            <form  action="/workshop/createLetter" method="POST">
                 <div class="flex flex-col  w-10/12 mx-auto ">
                 <label for="letterToTheUniverse" class="form-label text-1xl font-serif"></label>
                 <textarea type="text" class="form-control  mt-2.5 mb-10	h-96 bg-fontLight border-2 border-black"  id="letterToTheUniverse" name="letterToTheUniverse" maxlength="1000"></textarea>


                <button type="submit" href= "loc" class="border-2	border-black py-1 px-8 rounded-md " value="Upload" >Send Letter</button>
               </form>        
                </div>
</div>
<!-- End Form -->








<!-- Image -->


<!-- image stop -->

</div>



<!-- End Form -->



</div>



<!-- Previous  Manifestation -->


<%- include('partials/footer') -%>

 