<%- include('partials/header') -%>
<div class="flex-wrap">


  <div class=" flex-col	 p-6 flex justify-start ">
       <div class="p-6 w-9/12 mx-auto flex-col space-x-4 max-w-screen-md	">
          <h2 class="text-4xl font-corm font-light  text-center border-b-2 border-black ">Challenge Your Comfort Zone</h2>

            <h5 class="text-center">We all love our comfort zone. It keeps us emotionally safe and sound. But at times it is benefitial to step out of that headspace and push yourself to try new things. In this excercise you will log some things that may help you to push your emotional boundaries and acheive the things you want.</h5>
      </div>
</div>


<!-- Main Page Content -->

<div class=" max-w-screen-md mx-auto ">

<!-- Form -->
<div class="mx-auto pb-10">
            <form  action="/workshop/createComfortZone" method="POST">
                 <div class="flex flex-col  w-10/12 mx-auto ">

                 <label for="thingsYouWantToChallenge" class="form-label font-raleway">What are some areas you could challenge yourself more in? </label>
                
                 <textarea type="text" class="form-control bg-fontLight mt-2.5 h-36 mb-6 border-2 border-black"id="thingsYouWantToChallenge" name="thingsYouWantToChallenge" ame="letterToTheUniverse" maxlength="500"></textarea>

                 <label for="stepsToGetThere" class="form-label font-raleway">
                What steps do you need to take to make those changes?</label>

                 <textarea type="text" class="form-control bg-fontLight mt-2.5 h-36 mb-6 border-2 border-black" id="stepsToGetThere" name="stepsToGetThere" ame="letterToTheUniverse" maxlength="700"></textarea>

                 <label for="whatWouldHappenIf" class="form-label font-raleway">What would happen if you made these changes for yourself? </label>
                 <textarea type="text" class="form-control bg-fontLight mt-2.5 h-36 mb-6 border-2 border-black" id="whatWouldHappenIf" name="whatWouldHappenIf" ame="letterToTheUniverse" maxlength="700"></textarea>
                        

                <button type="submit" href= "loc"class="border-2	border-black py-1 px-8 rounded-md font-corm font-light text-xl " value="Upload" >Submit Excercise</button>
               </form>        
                </div>
</div>
<!-- End Form -->


<!-- Image -->

<div class="w-96">

</div>

<!-- image stop -->

</div>



<!-- Previous  Manifestation -->



<%- include('partials/footer') -%>

 