<%- include('partials/header') -%>
<div class="flex-wrap">


  <div class="flex flex-col	 p-6  justify-start ">
       <div class="p-6 w-9/12 mx-auto flex-col space-x-4 max-w-screen-md	">
         <h2 class="text-4xl font-corm font-light  text-center border-b-2 border-black "> Forgive</h2>
            <h5 class="text-center font-raleway m-8 ">Forgivness is one of the most difficult things that we as humans are faced with. To forgive is to also free yourself. If there is someone in your life that you feel you could forgive use this excercise.</h5>
      </div>
</div>


<!-- Main Page Content -->

<div class=" max-w-screen-md mx-auto ">

<!-- Form -->
<div class="mx-auto pb-10">
            <form  action="/workshop/createForgiveness" method="POST">


               <div class="flex flex-col  mx-auto ">
               <label for="personToForgive" class="form-label font-raleway ">Name or describe the person whom you are seeking to forgive.</label>
                 <textarea type="text" class="form-control bg-fontLight mt-2.5 h-36 mb-6 border-2 border-black"  id="personToForgive" name="personToForgive" maxlength="400" required"></textarea>

                 <label for="howTheyMadeYouFeel" class="form-label  font-raleway">
                Describe how this person made you feel </label>
                 <textarea type="text"class="form-control bg-fontLight mt-2.5 h-36 mb-6 border-2 border-black"   id="howTheyMadeYouFeel" name="howTheyMadeYouFeel" maxlength="400" required"></textarea>


                 <label for="howTheyWereFeeling" class="form-label font-raleway">How do you think the person was feeling</label>
                 <textarea type="text" class="form-control bg-fontLight mt-2.5 h-36 mb-6 border-2 border-black"   id="howTheyWereFeeling" name="howTheyWereFeeling" maxlength="400" required"></textarea>
                        

                <label for="stepsToForgivness" class="form-label text-1xl font-serif">Steps you need to take to forgive.</label>
                 <textarea type="text" class="form-control bg-fontLight mt-2.5 h-36 mb-6 border-2 border-black"  id="stepsToForgivness" name="stepsToForgivness" maxlength="400" required"></textarea>
                        

     
                <button type="submit" href= "loc"class="border-2	border-black py-1 px-8 rounded-md " value="Upload" >Log Manifestation</button>
               </form>        
                </div>
</div>
<!-- End Form -->


<!-- Image -->



<!-- image stop -->

</div>



<!-- Previous  Manifestation -->




<%- include('partials/footer') -%>

 