<%- include('partials/header') -%>
<div class="flex-wrap">


  <div class="flex flex-col	 p-6 flex justify-start ">
       <div class="p-6 w-9/12 mx-auto flex-col space-x-4 max-w-screen-md	">
            <h5 class="text-center">Forgivness is one of the most difficult things that we as humans are faced with. To forgive is to also free yourself. If there is someone in your life that you feel you could forgive use this excercise.</h5>
      </div>
</div>


<!-- Main Page Content -->

<div class=" max-w-screen-md mx-auto ">

<!-- Form -->
<div class="w-fit	">
            <form  action="/workshop/getForgiveness" method="POST">


                 <div class="flex flex-col  mx-auto ">
                 <label for="personToForgive" class="form-label text-1xl font-serif">Name the person or use a Psedynom to describe the person you want to forgive.</label>
                
                 <textarea type="text" class="form-control bg-fontLight rounded-lg mt-2.5 h-52 mb-10 w-100	 "  id="personToForgive" name="personToForgive"></textarea>


                 <label for="howTheyMadeYouFeel" class="form-label text-1xl font-serif">
                Describe how this person made you feel </label>
                 <textarea type="text" class="form-control bg-fontLight rounded-lg mt-2.5 h-52 mb-10" id="howTheyMadeYouFeel" name="howTheyMadeYouFeel"></textarea>


                 <label for="howTheyWereFeeling" class="form-label text-1xl font-serif">How do you think the person was feeling</label>
                 <textarea type="text" class="form-control bg-fontLight rounded-lg mt-2.5 h-52 mb-10" id="howTheyWereFeeling" name="howTheyWereFeeling"></textarea>
                        

                <label for="stepsToForgivness" class="form-label text-1xl font-serif">Steps you need to take to forgive.</label>
                 <textarea type="text" class="form-control bg-fontLight rounded-lg mt-2.5 h-52 mb-10" id="stepsToForgivness" name="stepsToForgivness"></textarea>
                        

                <label for="howTheyWereFeeling" class="form-label text-1xl font-serif">What will you gain if you release this person.</label>
                 <textarea type="text" class="form-control bg-fontLight rounded-lg mt-2.5 h-52 mb-10" id="howTheyWereFeeling" name="howTheyWereFeeling"></textarea>
                        

                <button type="submit" href= "loc"class="border-2	border-black py-1 px-8 rounded-md " value="Upload" >Log Manifestation</button>
               </form>        
                </div>
</div>
<!-- End Form -->


<!-- Image -->



<!-- image stop -->

</div>



<!-- Previous  Manifestation -->




<%- include('partials/footer') -%>

 