<%- include('partials/header') -%>
<div class="flex-wrap">


  <div class="flex flex-col	 p-6 flex justify-start ">
       <div class="p-6 w-9/12 mx-auto flex-col space-x-4 max-w-screen-md	">
            <h5 class="text-center">Rejection is never easy- but sometimes it gets us to where we are now or where we want to be. In this excercise you are encouraged to think of a time in your past where you felt rejection or failure but ultiamtely it became something good. Realizing that rejection has the possibility to turn into a positive will encourage us to deal with rejection we are facing currently with more ease. .</h5>
      </div>
</div>


<!-- Main Page Content -->

<div class="flex flex-wrap max-w-screen-md mx-auto items-center">

<!-- Form -->
<div class="w-96">
            <form  action="/workshop/createComfortZone" method="POST">
                 <div class="flex flex-col  w-10/12 mx-auto ">

                 <label for="thingsYouWantToChallenge" class="form-label 	text-1xl font-serif">What are some areas you could challenge yourself more in? </label>
                
                 <textarea type="text" class="form-control bg-gray-300 rounded-lg	mt-2.5 h-52 mb-10	 "  id="thingsYouWantToChallenge" name="thingsYouWantToChallenge"></textarea>

                 <label for="stepsToGetThere" class="form-label 	text-1xl font-serif">
                What steps do you need to take to make those changes?</label>

                 <textarea type="text" class="form-control bg-gray-300 rounded-lg mt-2.5 h-52 mb-10" id="stepsToGetThere" name="stepsToGetThere"></textarea>

                 <label for="whatWouldHappenIf" class="form-label text-1xl font-serif">What would happen if you made these changes for yourself? </label>
                 <textarea type="text" class="form-control bg-gray-300 rounded-lg	mt-2.5 h-52 mb-10" id="whatWouldHappenIf" name="whatWouldHappenIf"></textarea>
                        

                <button type="submit" href= "loc"class="my-6 py-2 px-4 bg-gray-600 text-white font-semibold rounded-lg shadow-md hover:bg-neutral-300	focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" value="Upload" >Submit Excercise</button>
               </form>        
                </div>
</div>
<!-- End Form -->


<!-- Image -->

<div class="w-96">

</div>

<!-- image stop -->

</div>



<!-- Previous  Manifestation -->



<%- include('partials/footer') -%>

 