<%- include('partials/header') -%>
<div class="flex-wrap">


  <div class="flex flex-col	 p-6 flex justify-start ">
       <div class="p-6 w-9/12 mx-auto flex-col space-x-4 max-w-screen-md	">
            <h5 class="text-center">The word "Manifestation" means to create something or turn something from an idea into a reality. Your thoughts, feelings, beliefs and wishes bring something into your life. A simple practice of daily manifestation can bring focus into the present and guide your day in a direction that will help you reach your goals.</h5>
      </div>
</div>


<!-- Main Page Content -->

<div class=" max-w-screen-md mx-auto items-center">

<!-- Form -->
<div class="w-96">
            <form  action="/workshop/createLetter" method="POST">
                 <div class="flex flex-col  w-10/12 mx-auto ">
                 <label for="letterToTheUniverse" class="form-label text-1xl font-serif">Write a letter asking it for what you want the most.</label>
                 <textarea type="text" class="form-control bg-gray-300 rounded-lg	mt-2.5 h-52 mb-10"  id="letterToTheUniverse" name="letterToTheUniverse"></textarea>


                <button type="submit" href= "loc" class="border-2	border-black py-1 px-8 rounded-md " value="Upload" >Log Manifestation</button>
               </form>        
                </div>
</div>
<!-- End Form -->








<!-- Image -->


<!-- image stop -->

</div>



<!-- End Form -->



</div>



<!-- Previous  Manifestation -->


<%- include('partials/footer') -%>

 