<%- include('partials/header') -%>
<div class="p-6 w-11/12	 mx-auto bg-white rounded-xl flex-col max-w-screen-lg	bg-main	">

  <div class="flex flex-col	 p-6 flex justify-start">
       <h4 class="text-4xl font-serif text-center ">Affirmation Workshops</h4>
       <div class="p-6 w-9/12 mx-auto flex-col space-x-4	">
            <h5 class="text-center">Here you will find a variety of different affirmation excercises. These will help you to focus into your goals and what you want to pull out of your life. </h5>
      </div>


<!-- Excercises Start -->


<div class="flex flex-wrap  justify-center bg-main "> 

          <div class="text-center border border-sky-500 mx-4 mt-4 h-56 w-60">


               <a href="/workshop/getWorkshopOne"><h5 class="text-2xl font-serif ">Basic Affirmation </h5> </a>
               <p> A simple three question affirmation. </p>

          </div>

          <div class="text-center border border-sky-500 mx-4 mt-4 h-56 w-60">

               <a href="/workshop/getLetterToTheUniverse"><h5 class="text-2xl font-serif ">Write a letter to the universe </h5> </a>
               <p> Ask the universe for what you'd like. </p>

          </div>

          <div class="text-center border border-sky-500 mx-4 mt-4 h-56 w-60">

               <a href="/workshop/getWorkshopOne"><h5 class="text-2xl font-serif ">Basic Affirmation </h5> </a>
               <p> A simple three question affirmation. </p>

          </div>

          <div class="text-center border border-sky-500 mx-4 mt-4 h-56 w-60">


               <a href="/workshop/getWorkshopOne"><h5 class="text-2xl font-serif ">Basic Affirmation </h5> </a>
               <p> A simple three question affirmation. </p>

          </div>

          <div class="text-center border border-sky-500 mx-4 mt-4 h-56 w-60">

               <a href="/workshop/getWorkshopOne"><h5 class="text-2xl font-serif ">Basic Affirmation </h5> </a>
               <p> A simple three question affirmation. </p>

          </div>

          <div class="text-center border border-sky-500 mx-4 mt-4 h-56 w-60">

               <a href="/workshop/getWorkshopOne"><h5 class="text-2xl font-serif ">Basic Affirmation </h5> </a>
               <p> A simple three question affirmation. </p>

          </div>
          <div class="text-center border border-sky-500 mx-4 mt-4 h-56 w-60">


               <a href="/workshop/getWorkshopOne"><h5 class="text-2xl font-serif ">Basic Affirmation </h5> </a>
               <p> A simple three question affirmation. </p>

          </div>

          <div class="text-center border border-sky-500 mx-4 mt-4 h-56 w-60">

               <a href="/workshop/getWorkshopOne"><h5 class="text-2xl font-serif ">Basic Affirmation </h5> </a>
               <p> A simple three question affirmation. </p>

          </div>

          <div class="text-center border border-sky-500 mx-4 mt-4 h-56 w-60">

               <a href="/workshop/getWorkshopOne"><h5 class="text-2xl font-serif ">Basic Affirmation </h5> </a>
               <p> A simple three question affirmation. </p>

          </div>
</div>


</div>





<%- include('partials/footer') -%>
